$blue: #3366CC;
$green: #C5E384;
$darkgreen:#154726;
$Notice:rgb(245, 60, 60);

$light: #ffffff;
$background: #1f3941;
$lightgreen: #f3f5b7;
$greenliner: linear-gradient(#C5E384, #F7FCE8);
$whiteliner: linear-gradient(#F7FCE8, #DDDDDD);

$Chocolate:"Chocolate Classical Sans", sans-serif;