@font-face {
    font-family: 'Founders Grotesk';
    src: url('https://assets.website-files.com/63f818b5f015858056117a09/63f818b5f015851928117a14_founders-grotesk-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('https://assets.website-files.com/63f818b5f015858056117a09/63f818b5f01585b042117a16_founders-grotesk-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('https://assets.website-files.com/63f818b5f015858056117a09/63f818b5f015857510117a15_founders-grotesk-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Founders Grotesk', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0em;
}




